.product-display-table {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.product-display-table td,
.product-display-table th {
    padding: 8px;
}

.product-display-table tr {
    background-color: white;
}

.product-display-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3b3b3b;
    color: white;
}

