:root {
    --sioc-color: rgb(74, 220, 74);
    --single-color: rgb(0 184 255);
    --multi-color: rgb(245, 59, 59);

    --sioc-color-dark: rgb(58, 163, 58);
    --single-color-dark: rgb(0, 110, 154);
    --multi-color-dark: rgb(161, 42, 42);

    --plus-logo-color: hsl(33, 100%, 62%);

    --primary-color:       #0d6efd;
    --secondary-color:     #6c757d;
    --success-color:       #198754;
    --info-color:          #0dcaf0;
    --warning-color:       #ffc107;
    --danger-color:        #dc3545;
    --light-color:         #f8f9fa;
    --dark-color:          #212529;
}


.bc-primary {
    background-color: var(--primary-color) !important;
}

.bc-secondary {
    background-color: var(--secondary-color) !important;
}

.bc-success {
    background-color: var(--success-color) !important;
}

.bc-info {
    background-color: var(--info-color) !important;
}

.bc-warning {
    background-color: var(--warning-color) !important;
}

.bc-danger {
    background-color: var(--danger-color) !important;
}

.bc-light {
    background-color: var(--light-color) !important;
}


.bc-dark {
    background-color: var(--dark-color) !important;
}

.color-primary {
    color: var(--primary-color) !important;
}

.color-secondary {
    color: var(--secondary-color) !important;
}

.color-success {
    color: var(--success-color) !important;
}

.color-info {
    color: var(--info-color) !important;
}

.color-warning {
    color: var(--warning-color) !important;
}

.color-danger {
    color: var(--danger-color) !important;
}

.color-light {
    color: var(--light-color) !important;
}


.color-dark {
    color: var(--dark-color) !important;
}

.my-0 {
    margin: 0 !important;
}


.my-1 {
    margin: 10px 0px !important;
}

.my-2 {
    margin: 20px 0px !important;
}

.my-3 {
    margin: 30px 0px !important;
}

.my-4 {
    margin: 40px 0px !important;
}

.my-5 {
    margin: 50px 0px !important;
}


.mt-1 {
    margin-top: 10px !important;
}

.mt-2 {
    margin-top: 20px !important;
}

.mt-3 {
    margin-top: 30px !important;
}

.mt-4 {
    margin-top: 40px !important;
}

.mt-5 {
    margin-top: 50px !important;
}


.mb-1 {
    margin-bottom: 10px !important;
}

.mb-2 {
    margin-bottom: 20px !important;
}

.mb-3 {
    margin-bottom: 30px !important;
}

.mb-4 {
    margin-bottom: 40px !important;
}

.mb-5 {
    margin-bottom: 50px !important;
}


.py-1 {
    padding: 10px 0px !important;
}

.py-2 {
    padding: 20px 0px !important;
}

.py-3 {
    padding: 30px 0px !important;
}

.py-4 {
    padding: 40px 0px !important;
}

.py-5 {
    padding: 50px 0px !important;
}


.px-1 {
    padding: 0px 10px !important;
}

.px-2 {
    padding: 0px 20px !important;
}

.px-3 {
    padding: 0px 30px !important;
}

.px-4 {
    padding: 0px 40px !important;
}

.px-5 {
    padding: 0px 50px !important;
}


.btn-danger {
    background-color: rgb(175, 0, 0) !important;
    color: white;
}

.btn-danger:after {
    background-color: red !important;
}

.btn-sioc {
    background-color: var(--sioc-color-dark) !important;
    color: white;
}

.btn-sioc:after {
    background-color: var(--sioc-color) !important;
}

.btn-single {
    background-color: var(--single-color-dark) !important;
    color: white;
}

.btn-single:after {
    background-color: var(--single-color) !important;
}


.btn-multi {
    background-color: var(--multi-color-dark) !important;
    color: white;
}

.btn-multi:after {
    background-color: var(--multi-color) !important;
}


.multi-color {
    color: var(--multi-color) !important;
}

.single-color {
    color: var(--single-color) !important;
}


.sioc-color {
    color: var(--sioc-color) !important;
}


.multi-background-color {
    background-color: var(--multi-color) !important;
}

.single-background-color {
    background-color: var(--single-color) !important;
}


.sioc-background-color {
    background-color: var(--sioc-color) !important;
}


.add-flex {
    display: flex;
}


.text-l {
    font-size: large !important;
}

.space-around {
    justify-content: space-around !important;
}

.space-between {
    justify-content: space-between !important;
}

.content-center {
    justify-content: center !important;
}


.plus-color {
    color: var(--plus-logo-color);
}

.text-center {
    text-align: center !important;
}

.w-100 {
    width: 100% !important;
}

.w-75 {
    width: 75% !important;
}

.w-50 {
    width: 50% !important;
}

.w-25 {
    width: 25% !important;
}

.w-10 {
    width: 10% !important;
}

.w-0 {
    width: 0% !important;
}


.text-m {
    font-size: medium !important;
}

.text-s {
    font-size: small !important;
}


.text-xs {
    font-size: x-small !important;
}

.text-va-top {
    vertical-align: text-top !important;
}

.font-b {
    font-weight: bold !important;
}