#optionsConfigurationsTable {
  width: 100%;
}

#optionsConfigurationsTable td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
}

.optionsSelection label {
  float: right;
  text-align: right;
}

header {
  text-align: center;
  width: 100%;
  height: 20px;
}


.settings-color {
  color: rgb(173, 173, 173);
}

body {
  background-color: #202124;
  color: white;
}


#optionsConfigurationsTable {
  border-collapse: collapse;
}